<div class="welcome">
    <div class="welcome_in"><b>&nbsp;&nbsp;欢迎光临海伦服务</b></div>
    <div class="welcome_login">
        <gt name="mid" value="0">
            <a href="">{$username}</a>
            <a href="{:U('home/member/Logout')}" target="_self">退出</a>     
        <else/>
            <a href="{:U('home/index/Login')}">登录</a>
            <a href="{:U('home/index/Join')}" target="_self">注册</a>
        </gt>
        <a href="" target="_blank">帮助</a>&nbsp;&nbsp;
    </div>
</div>	
<div class="logo">
    <img src="__PUBLIC__/img/logo.jpg" alt="helenservice"/>
</div>