<div>
<div class="modal fade" id="modal-container-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                家庭清洁
            </h4>
        </div>
        <div class="modal-body">
            地板打扫，卫生间清洁，厨房清洁
        </div>
        <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button> 
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
    </div>					
</div>
</div>
<div>
<div class="modal fade" id="modal-container-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                油烟机清洗
            </h4>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button> 
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
    </div>					
</div>
</div>
<div>
<div class="modal fade" id="modal-container-3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                马桶修理
            </h4>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button> 
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
    </div>					
</div>
</div>
<div>
<div class="modal fade" id="modal-container-4" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                水电维修
            </h4>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button> 
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
    </div>					
</div>
</div>
<div>
<div class="modal fade" id="modal-container-5" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                墙面打孔
            </h4>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button> 
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
    </div>					
</div>
</div>

<div>
<div class="modal fade" id="modal-container-6" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                管道疏通
            </h4>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button> 
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
    </div>					
</div>
</div>

<div>
<div class="modal fade" id="modal-container-7" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                冰箱除菌
            </h4>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button> 
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
    </div>					
</div>
</div>

<div>
<div class="modal fade" id="modal-container-8" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                开换锁
            </h4>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button> 
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
    </div>					
</div>
</div>

<div>
<div class="modal fade" id="modal-container-9" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                安装门窗
            </h4>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button> 
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
    </div>					
</div>
</div>

<div>
<div class="modal fade" id="modal-container-10" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                纱窗换新
            </h4>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button> 
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
    </div>					
</div>
</div>

<div>
<div class="modal fade" id="modal-container-11" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                清洁玻璃
            </h4>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button> 
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
    </div>					
</div>
</div>

<div>
<div class="modal fade" id="modal-container-12" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                移空调
            </h4>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button> 
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
    </div>					
</div>	
</div>
